.shop{
    max-width: 100%;
    z-index: 0;
}
.shop-title{
    width: 100%;
    position: relative;
    background-image: url(../../assets/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    z-index: 0;
}
.shop-title h3{
    z-index: 99;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
}
.shop-cat-btns{
    margin: 100px 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navlink-btn{
    color: #1b2024;
    text-decoration: none;
    padding-bottom: 5px;
    transition: .5s ease;
    font-size: 20px;
}
.paginationBttns {
    width: 50%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 25%;
}
.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #d1a054;
    color: #d1a054;
    cursor: pointer;
    text-decoration: none;
}
.paginationBttns a:hover {
    color: white;
    background-color: #d1a054;
}
.paginationActive a {
    color: white;
    background-color: #d1a054;
}


@media screen and (max-width: 990px) {
    .shop{
        max-width: 100%;
    }
    .shop-cat-btns{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 400px) {
    .shop{
        max-width: 100%;
    }
    .paginationBttns {
        display: flex;
        flex-direction: column;
        height: 400px;
        gap: 50px;
    }
}