*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  font-family: cursive;
}
li{
  list-style-type: none;
}
button{
  cursor: pointer;
}
input:focus,
textarea:focus{
  outline: none;
}