.slider{
  padding: 0 100px;
  margin: 10px 0px 20px;
}
.slider-title{
  text-align: center;
  margin: 40px 0px;
}
.slider-title p{
  color: #d1a054;
}
.slider-title h3{
  font-weight: 300;
  font-size: 40px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 350px;
}

.swiper-container{
  display: flex;
  gap: 5%;
}
.slider-image {
  display: block;
  width: 500px !important;
  height: 500px !important;
}

/* Start Rwd */
@media screen and (min-width: 401px) and (max-width: 767px) {
  .slider{
    max-width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 400px){
  .slider{
    max-width: 100%;
    padding: 0 10px;
  }
}
/* End Rwd */